.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items>ul {
    display: flex;
    font-size: 18px;
    list-style: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.search-container {
    padding: 10px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-card img {
    width: 100%;
    /* height: 150px; */
}

.filter-btn {
    background-color: #f0f0f0;
    border: 1px solid black;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    animation: shimmer 1.5s infinite linear;
}

.login-btn {
    background-color: #f0f0f0;
    border: 1px solid black;
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.user-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 250px;
}